@using System.Web.Optimization
@using System.Web


<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
        
        
        

  
   
        <link href = "~/css/bootstrap.min.css" rel ="stylesheet" type="text/css"/>
        <link href = "~/css/Style.css" rel="stylesheet" type="text/css"/>

    </head>
<body>
     <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Betsolution</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller ="Home" asp-action ="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List">All Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/electro">All electro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Cars/List/fuel">All fuel</a>
                    </li>
                        <li class="nav-item">
                        <a class="nav-link" asp-controller="Wallet" asp-action="Deposit">Deposit</a>
                    </li>
                    @* <li class=nav-item>
                        <a class="nav-link"><partial name="_LoginPartial"/></a>
                    </li>*@
                    <li class="nav-item margin-right">
                        <a class="nav-link margin-right" href="/ShopCart" tabindex="-1" aria-disabled="true"> Cart</a>
                        <i class="bi bi-cart"></i>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller = "WalletTransaction" asp-action="Transactions">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller = "CreditCard" asp-action="SetCreditCard">Add Card</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller = "Wallet" asp-action="WithDraw">Withdraw</a>
                    </li>  
            </div>
           
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-item text-light" id="balance"></a>
                    </li>
                </ul>

            
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class ="container mt-5" >
        
        
        @RenderBody()
    </div>
    <footer class="container">
         <p class ="float-right"><a href = "#"> Back to top</a></p>
         <p>© 2022 Betsolution, Inc.· <a href="#">Privacy</a>
    </footer>
    <script src = "~/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    

    
    
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>

   @* <script type ="text/javascript">
        $(document).ready(function(){
            console.log("document redy");
            function f(){
                console.log("dshjgfhds");
                $.ajax({
                  url: "Home/GetBalance", 
                  success: function(result){
                      console.log(result);
                    $("#balance").html( result.balance +'$');
                 }});
            };
            setInterval(f(),1000);
        });

    </script>*@
    <script type="text/javascript">
        $(document).ready(function(){
            function f(){                
                $.ajax("Home/GetBalance")
                    .done(function(result){
                        console.log(result);
                        $('#balance').html(result.balance + "$")
                    })
                    .fail(function(){
                        alter("Balance error");
                    })
                    .always(function(){
                        console.log("complite");
                    });
            };
            setInterval(f(),1000);
        });
    </script>
    


