
@{
    ViewBag.Title = "Transaction List";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

<h2>Transaction list</h2>

 <form id ="inputForm" >
      <label for="fname">Date:</label>
      <input type="date" id="inputDate" name="dateTime" >
      <input type="submit" value="Search">
     
</form>

<table id="transactionsHistory">
   
    <thead>
        <tr>
            <th>Current Balance</th>
            <th>Data</th>
            <th>Amount</th>
            <th>Transaction Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Current Balance</td>
            <td>Data</td>
            <td>Amount</td>
            <td>Transaction Type</td>
        </tr>
    </tbody>
</table>

@section Scripts{
   
    <script type="text/javascript">
        $(document).ready(function(){
            var table = 
            $('#transactionsHistory').DataTable({
               
                "ajax":
                {
                    url:"GetTransactions",
                    type:"POST",
                    //datatype:"json",
                    data: function(){return $('#inputForm').serialize();}
                },
                "columns":[
                    {"data":'curentBalance',"name":"Current Balance" },
                    {"data":"createdOn","name":"Data"},
                    {"data":"amount", "name":"Amount"},
                    {"data":"operationType","name":"Transaction Type"},
                ]
            });
            $('#inputForm').submit(function(e){
                e.preventDefault();
                e.stopPropagation();
                table.ajax.reload();
            });  
        });
            
    </script>
    
}


